<p id="notice"><%= notice %></p>

<p>
  <strong>Value one:</strong>
  <%= @calculation.value_one %>
</p>

<p>
  <strong>Value two:</strong>
  <%= @calculation.value_two %>
</p>

<p>
  <strong>Value three:</strong>
  <%= @calculation.value_three %>
</p>

<p>
  <strong>Value four:</strong>
  <%= @calculation.value_four %>
</p>

<p>
  <strong>Value one name:</strong>
  <%= @calculation.value_one_name %>
</p>

<p>
  <strong>Value two name:</strong>
  <%= @calculation.value_two_name %>
</p>

<p>
  <strong>Value three name:</strong>
  <%= @calculation.value_three_name %>
</p>

<p>
  <strong>Value four name:</strong>
  <%= @calculation.value_four_name %>
</p>

<%= link_to 'Edit', edit_calculation_path(@calculation) %> |
<%= link_to 'Back', calculations_path %>
